* { 
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* HLAVNÍ LAYOUT */
body{
    color: rgb(80, 80, 80);
    background-color: rgb(255, 255, 245);
    display: flex;
    flex-direction: column;
    min-height: 100vh;       /* velmi důležité - právě toto drží footer na spodku stránky */
    
}

header{
    height: 150px;
    background-color: rgb(75, 182, 75);
    display:flex;
    flex-direction: column;
    justify-content: center;
}

main{
    margin-top: 10px;
    flex: 1; 
}

footer{
    margin-top: auto;
    padding: 10px;
    height: auto;
    height: fit-content;
    background-color: rgb(75, 182, 75);
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.85rem;
    text-align: center;
    color: rgb(255, 255, 240);
    row-gap: 8px;
}

h1, h2{
    color: rgb(255, 255, 245);
    text-align: center;
}

h1{
    font-size: 4.5rem;
}

h2{
    font-size: 1.9rem;
}


/* GRID */

#hlavni-obsah{
    margin: auto;
    max-width: 1020px;
    padding: 20px;
    min-height: 900px;

    display: grid;
    grid-template-columns: 1fr;  /* Výchozí je 1fr pro mobily, na desktopu přidáme další */
    

}

@media screen and (min-width: 768px){
    #hlavni-obsah{
        grid-template-columns: 1fr 1fr;    /* na destkopu přidáme další 1fr, čímž dáme 2 sloupce vedle sebe */
    }
}


/* FORMULÁŘ ODDLUŽENÍ */
#formular-oddluzeni{
    padding: 10px;
    max-width: 500px;
    background-color: rgb(245, 245, 220);
    margin: 10px;
    border-radius: 10px;
}

#formular-oddluzeni h3{
    text-align: center;
    margin: 8px;
}

fieldset{
    margin: 18px 5px;
    border: none;
    border-radius: 10px;
}

legend{
    color: rgb(90, 90, 90);
    font-weight: bold;
    margin-bottom: 5;
}

.radek-formulare{
    display:block;
    margin: 6px;
    display: flex;
    
}

select {
    height: 22px;
    min-width: 100px;
    transition: 0.25s;
}

select:hover{
    cursor: pointer;
}


/* VYHODNOCENÍ FORMULÁŘE ODDLUŽENÍ */

.oblast-vypisu{
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
    text-align: justify;
    background-color: rgb(243, 245, 247);
    border-radius: 10px;
    height:fit-content;
    max-width: 500px;
}


/* FORMULÁŘ PŘÍJMŮ */

    /* zde budou styly pro formulář příjmů */
/* #div-formular-prijmu{
    width: 300px;
    position: absolute;
    top: 40px;
    right: 140px; 
} */
/* FORMULÁŘ VYŽIVOVACÍCH POVINNOSTÍ */
/* #div-formular-vyzivovacich-povinnosti{
    width: 300px;
    position: absolute;
    top: 260px;
    right: 140px; 
} */
    /* zde budou styly pro formulář vyživovacích povinností */

/* VYHODNOCENÍ EKONOMICKÉ NABÍDKY */
/* #div-vypocet-srazek{
    width: 300px;
    position: absolute;
    top: 410px;
    right: 140px; 
} */
    /* zde budou styly pro oblast vyhodnocení ekonomikcé nabídky dlužníka */



/* ZAŠKRTÁVACÍ VOLBY */


.zaskrtavaci-volba{
    font-weight:550;
    margin-right: 4%;
}


select[zaskrtnuti='v-poradku']{
    color: rgb(75, 182, 75);
}

select[zaskrtnuti='diskutabilni']{
    color: rgb(235, 145, 0);
}

select[zaskrtnuti='vadne']{
    color: rgb(224, 42, 42);
}

option{
    color: black;
}



/* EFEKTY */
.pomalu-zmizet{
    transition: 1s;
    opacity: 0;
}

.pomalu-se-objevit{
    transition: 1s;
    opacity: 1;
}

