* { 
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* HLAVNÍ LAYOUT */
body{
    color: rgb(80, 80, 80);
    background-color: rgb(255, 255, 240);
    display: flex;
    flex-direction: column;
    min-height: 100vh;       /* velmi důležité - právě toto drží footer na spodku stránky */
    
}

header{
    height: 150px;
    background-color: rgb(75, 182, 75);
    display:flex;
    flex-direction: column;
    justify-content: center;
}

main{
    margin-top: 10px;
    flex: 1; 
}

footer{
    margin-top: auto;
    height: auto;
    min-height: 150px;
    /* height: 120px; */
    background-color: rgb(75, 182, 75);
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    color: rgb(255, 255, 240);
}

h1, h2{
    color: rgb(255, 255, 240);
    text-align: center;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 30px;
}

#hlavni-obsah{
    margin: auto;
    width: 1020px;
    padding: 20px;
    min-height: 800px;
}


/* FORMULÁŘ */
#formular-oddluzeni{
    padding: 10px;
    width: 500px;
    background-color: rgb(240, 240, 215);
    margin: 10px;
    /* box-shadow: 2px 2px 5px grey; */
    border-radius: 10px;
}

fieldset{
    margin: 18px 5px;
    border: none;
    /* border: 1px solid grey; */
    /* box-shadow: 2px 2px 5px grey; */
    border-radius: 10px;
}

legend{
    color: rgb(90, 90, 90);
    font-weight: bold;
    margin-bottom: 5;
}

.radek-formulare{
    display:block;
    margin: 6px;
    display: flexbox;
}


select {
    margin-right: 10px;
}

select:hover{
    cursor: pointer;
}

label{

}


/* ZAŠKRTÁVACÍ VOLBY */
.zaskrtavaci-volba{
    font-weight:550;
    width: 110px;
    transition: 0.25s;
    height: 22px;
}

/* select[zaskrtnuti='nevybrano']{
    color: black;
} */

select[zaskrtnuti='v-poradku']{
    color: rgb(75, 182, 75);
}

select[zaskrtnuti='diskutabilni']{
    color: rgb(235, 145, 0);
}

select[zaskrtnuti='vadne']{
    color: rgb(224, 42, 42);
}

option{
    color: black;
}

/* VYHODNOCENÍ FORMULÁŘE */

#vyhodnoceni-formulare{
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
    width: 500px;
    text-align: justify;
}

/* #vyhodnoceni-formulare:hover{
    color:grey;
} */


/* EFEKTY */
.pomalu-zmizet{
    transition: 1s;
    opacity: 0;
}

.pomalu-se-objevit{
    transition: 1s;
    opacity: 1;
}
