/* SPOLEČNÉ */
* { 
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}

html{
    overflow-y: scroll;
}

body{
    color: rgb(80, 80, 80);         /* barva písma v celém dokumentu */
    background-color: rgb(255, 255, 245);
    display: flex;              /* velmi důležité - právě toto drží footer na spodku stránky */
    flex-direction: column;
    min-height: 100vh;       /* velmi důležité - právě toto drží footer na spodku stránky */
}

/* ZÁHLAVÍ */
header{
    background-color: rgb(75, 182, 75);
    padding-top: 5px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;     
}

@media screen and (min-width: 768px){
    header h1{
        letter-spacing: 8px;
    }

    header h2{
        letter-spacing: 1.5px;
    }
}

#nazev-projektu{
    margin-bottom: 10px;
}

h1, h2 {
    color: rgb(255, 255, 245);
    text-align: center;
}


h1{
    font-size: 4rem;
}

h2{
    font-size: 1.9rem;
}

@media screen and (min-width: 768px){
   
    h3{
        letter-spacing: 0.7px;
    }
}





/* NAVIGACE */

header nav ul{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(15, 172, 15);
    gap: 5px;
    text-transform:uppercase;
}


@media screen and (min-width: 768px){
    header nav ul{         /* na destkopu chceme navigaci horizontální a větší */
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        min-height: 45px;
            
    }
}

header nav ul li {
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 245);
    font-weight: bold;
    cursor: pointer;
}

header nav ul li a:hover{
    transition: border 0.12s;
    border-bottom: 3px solid rgb(255, 255, 245);
}

.nav-podtrzeno{
    border-bottom: 3px solid rgb(255, 255, 245);
}


/* OBLASTI S HLAVNÍM OBSAHEM */

main{
    margin-top: 10px;
}

#hlavni-obsah-stranky{
    margin: auto;
    padding: 2%;
    max-width: 1020px;
    min-height: 900px;
}

.layout-povoleni-oddluzeni{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;  /* Výchozí je 1fr pro mobily, na desktopu přidáme další */
}

@media screen and (min-width: 768px){
    .layout-povoleni-oddluzeni{
        grid-template-columns: 1fr 1fr;    /* na destkopu přidáme další 1fr, čímž dáme 2 sloupce vedle sebe */
    }
}

.layout-o-projektu{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* FORMULÁŘE OBECNĚ */

.formular{
    max-width: 500px;
    background-color: rgb(225, 225, 200);
    border-radius: 10px;
    padding: 10px;
}

.formular h3{
    text-align: center;
    margin: 8px;
}

.formular fieldset{
    margin: 18px 5px;
    border: none;
}

.formular legend{
    color: rgb(80, 80, 80);         /* barva písma v celém dokumentu */;
    font-weight: bold;
    margin-bottom: 5px;
}

.radek-formulare{
    display:block;
    margin: 6px 0;
    display: flex;
    gap: 4%;
}

.formular select, input {
    height: 22px;
    transition: 0.25s;
    /* margin-right: 4%; */
    border-radius: 4px;
    background-color: white;
}

.formular select:disabled, input:disabled{
    background-color: rgb(233, 235, 237);
    cursor: auto;
}

.formular select{
    min-width: 110px;
    max-width: 140px;
}

.formular input{
    padding-left: 1%;
    max-width: 140px;
}

select:hover{
    cursor: pointer;
}

option{
    color: black;
}



/* OBLASTI S VÝPISEM TEXTU */


.oblast-vypisu{
    padding: 10px;
    transition: 0.5s;
    text-align: justify;
    background-color: rgb(235, 235, 235);  
    border-radius: 10px;
    height:fit-content;
    max-width: 500px;
}

.oblast-vypisu p{
    margin: 5px 0 15px 0;
}

.vypis-ve-formulari{        /* Oblast výpisu uvnitř formuláře bude zpravidal vypadat trochu jinak než mimo formulář - bude mít asi menší písmo a více na sebe nalepené  */
    background-color: rgb(245, 245, 245);  
    padding: 0;
    font-size: 0.75em;
}

.vypis-ve-formulari p, li{
    margin: 0.7em 0.3em;
}

/* NÁPOVĚDA */
.napoveda{
    padding: 5px;
}

.zobrazovac-napovedy{
    text-decoration: underline;
}

.zobrazovac-napovedy:hover{
    cursor: pointer;
    text-decoration: none;
    opacity: 0.85;
}

.div-skryt-napovedu{
    display: flex;
    justify-content: center;
}

.btn-skryt-napovedu{
    background-color: rgb(195, 195, 195); 
    color: rgb(80, 80, 80);
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 7px 0;
}

.btn-skryt-napovedu:hover {
    background-color: rgb(165, 165, 165);
    transition: all 0.25s;
    cursor: pointer;
}

.btn-skryt-napovedu-sipka{
    position: relative;
    top: 3px;
    font-size: 1em;
    transform: scaleX(1.5);
    display: inline-block;
    margin-left: 4px;
}


.napoveda ol, ul{
    padding-left: 1em;
    list-style-position: inside;
}

.napoveda ol{
    list-style-type: lower-roman;
}

.napoveda ol li p, 
.napoveda ul li p{
    display: inline;
}

/* ZÁPATÍ */
footer{
    background-color: rgb(45, 152, 45);         
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.85rem;
    text-align: center;
    color: rgb(255, 255, 240);
}

#autor-copyright{
    padding: 10px;
}

#disclaimer{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
    padding: 16px;
}





/* ZAŠKRTÁVACÍ VOLBY */

.zaskrtavaci-volba{
    min-width: 100px;   /* min. šířka zaškrtávacích voleb stačí menší než u obecných <select> */
    font-weight:550;
}

select[zaskrtnuti='v-poradku']{
    color: rgb(75, 182, 75);
}

select[zaskrtnuti='diskutabilni']{
    color: rgb(235, 145, 0);
}

select[zaskrtnuti='vadne']{
    color: rgb(224, 42, 42);
}




/* BARVY */
.tmave-zelene-pozadi{
    background-color: rgb(15, 172, 15);
}

.svetle-zelene-pozadi{
    background-color: rgb(75, 182, 75);
}


/* background-color: rgb(225, 245, 220);       světlounce zelená */
/* background-color: rgb(243, 245, 247);        světle šedá*/
/* background-color: rgb(215, 205, 220);         bledě modrá alternativa */
/* background-color: rgb(45, 152, 45);              středně tmavá zelená*/

/* VŠEOBECNÉ GRID a flexboxes*/
.vertical-flex{         /* slouží k tomu, aby se v rámci grid "kratšího sloupce" zobrazovaly elementy odshora a dole nechaly volný prostor - grid sloupec by se jinak pokusil roztáhnout obsah po celé délce delšího sloupce */
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}




/* EFEKTY */
.pomalu-zmizet{
    transition: 1s;
    opacity: 0;
}

.pomalu-se-objevit{
    transition: 1s;
    opacity: 1;
}

